*{
    background-color: #98B4D4;
    overflow-x: hidden;
}

button{
    background-color: white;
    font-size: 15px;
}

button:hover{
    background-color: gray;
}


.title-container{
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.title {
    width: 400px;
    height: 400px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.start-game{ /*Start game button*/
    font-size: 20px;
}

.questions-container{
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top:-10%;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.questions{
    margin-top: 10%;
    text-align: center;
}

.questions-title{
    font-weight: bold;
    margin-bottom: 5%;
}

.response-message1{
    color:green;
}

.response-message2{
    color:red;
}

.see-results{ /*Results Button Styling*/
    font-size: 40px;
    width: 100%;
    margin-top: 3%;
}

.results-container{
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.results {
    width: 400px;
    height: 400px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.retry{
    font-size:20px;
}