*{
    background-color: #98B4D4;
}

button{
    background-color: white;
}

button:hover{
    background-color: gray;
}


.title-container{
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.title {
    width: 400px;
    height: 400px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.questions-container{
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.questions{
    margin-top: 10%;
    text-align: center;
}

.response-message1{
    color:green;
}

.response-message2{
    color:red;
}

.results-container{
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.results {
    width: 400px;
    height: 400px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}